* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 56.25%;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  background-color: #f8f9fa;
  overflow-x: hidden;
  color: #555;
}

.container {
  max-width: 120rem;
  padding: 0 2rem;
  margin: 0 auto;
}

.logo {
  text-decoration: none;
  color: #555;
  font-size: 1.6rem;
}

.heading-primary,
.heading-secondary,
.heading-tertiary,
.heading-fourth {
  margin-bottom: 4rem;
  line-height: 1.2;
  letter-spacing: -0.5px;
  font-weight: 700;
  color: #333;
}

.heading-primary {
  margin-bottom: 2rem;
  font-size: 2.8rem;
}

.heading-secondary {
  font-size: 2.5rem;
}

.heading-tertiary {
  font-size: 2.1rem;
  text-align: center;
}

.heading-fourth {
  margin-bottom: 1rem;
  font-size: 1.8rem;
  font-weight: 700;
}

.subheading {
  display: inline-block;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.4rem;
  color: #f59f00;
}

@media screen and (min-width: 36em) {
  html {
    font-size: 62.5;
  }
}
.header {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transform: translateX(100%);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  background-color: rgba(255, 255, 255, 0.97);
  transition: 0.5s transform;
  z-index: 100;
}
.navigation__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.navigation__link {
  text-decoration: none;
  font-size: 2.8rem;
  color: #e67700;
}
.navigation__open--js {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  transform: translateX(0%);
}

.btn-mobile-nav {
  display: block;
  padding: 0.5rem;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1.8rem;
  z-index: 200;
}

.hamburger {
  font-size: 2rem;
  color: #333;
}

.hero {
  padding: 4.8rem 0 4.8rem 0;
}
.hero__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 3rem;
  padding: 0 1rem;
  text-align: center;
}
.hero__description {
  line-height: 1.6;
  font-size: 1.6rem;
}
.hero__button {
  display: inline-block;
  margin-top: 2rem;
  padding: 1rem 2rem;
  text-decoration: none;
  font-size: 1.6rem;
  background-color: #f59f00;
  color: #fff;
}
.hero__image {
  width: 80%;
}

@media (min-width: 36em) {
  .hero__image {
    width: 60%;
  }
}
.about-us {
  padding: 4.8rem 0;
}
.about-us__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 3rem;
}
.about-us__text-box {
  display: flex;
}
.about-us__description {
  font-size: 1.6rem;
  line-height: 1.6;
}
.about-us__image-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-us__image {
  width: 100%;
}
.about-us__image-box--mobile {
  order: 2;
}
.about-us__text-box--mobile {
  order: 1;
}

@media (min-width: 36em) {
  .about-us__wrapper {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    column-gap: 6rem;
  }
}
.popular {
  padding: 4.8rem 0;
}
.popular__wrapper {
  display: flex;
  flex-direction: column;
  gap: 6rem;
}
.popular__card {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
}
.popular__image {
  width: 100%;
}
.popular__text-box {
  padding: 3.2rem;
}
.popular__info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.popular__price {
  margin-bottom: 0.5rem;
  font-size: 2.5rem;
  letter-spacing: 1px;
  color: #fcc419;
}
.popular__time {
  margin-bottom: 2rem;
  font-size: 1.4rem;
}
.popular__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
  font-size: 1.6rem;
}
.popular__specifications {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.8rem;
}
.popular__icon {
  font-size: 2rem;
  color: #fcc419;
}
.popular__details {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
.popular__button {
  padding: 1rem 2rem;
  font-size: 2rem;
  text-decoration: none;
  background-color: #fcc419;
  color: #fff;
}

@media (min-width: 36em) {
  .popular__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
.why-we {
  padding: 4.8rem 0;
  background-color: #f1f3f5;
}
.why-we__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4rem;
}
.why-we__description {
  font-size: 1.6rem;
  line-height: 1.6;
}
.why-we__icon {
  margin-right: 0.5rem;
  font-size: 2rem;
  color: #fcc419;
}

@media (min-width: 36em) {
  .why-we__wrapper {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 6rem;
  }
}
.step {
  padding: 4.8rem 0;
}
.step__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
}
.step__box {
  display: flex;
  flex-direction: column;
}
.step__text-box {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.step__number {
  display: block;
  font-weight: 600;
  font-size: 5.2rem;
  color: #ddd;
}
.step__heading {
  font-size: 2.6rem;
}
.step__description {
  margin-top: 1rem;
  line-height: 1.6;
  font-size: 1.6rem;
}
.step__img {
  width: 100%;
}
.step__text-box:nth-child(4) {
  grid-row: 3;
}

.gift {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../src/img/voucher.webp");
  height: 60vh;
  background-size: cover;
  background-position: center;
  color: #dee2e6;
}
.gift__heading {
  margin-bottom: 2rem;
  font-size: 2.4rem;
}
.gift__description {
  font-size: 1.6rem;
  line-height: 1.4;
}
.gift__box {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gift__button {
  padding: 1rem 2rem;
  text-decoration: none;
  font-size: 2rem;
  background-color: #fcc419;
  color: #fff;
}

@media (min-width: 36em) {
  .gift__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .gift__heading {
    font-size: 2.8rem;
  }
  .gift__description {
    width: 70%;
  }
}
.accordion {
  padding: 4.8rem 0;
}
.accordion__wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.accordion__item {
  padding: 1rem;
  background-color: #f1f3f5;
}
.accordion__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
}
.accordion__heading {
  font-weight: 500;
  color: #333;
  font-size: 1.7rem;
}
.accordion__number {
  font-weight: 500;
  font-size: 1.8rem;
  color: #cbcaca;
}
.accordion__icon {
  color: #fcc419;
  font-size: 1.8rem;
}
.accordion__description {
  max-height: 0;
  line-height: 1.6;
  font-size: 1.4rem;
  overflow: hidden;
  transition: all 0.4s;
}
.accordion__rotate--js {
  transform: rotate(180deg);
}
.accordion__open--js {
  padding-top: 1.5rem;
  max-height: 10rem;
}
.accordion__border--js {
  box-shadow: inset 0px 5px 2px -3px #fcc419;
}

@media (min-width: 36em) {
  .accordion {
    font-size: 2.5rem;
  }
}
.testimonials {
  padding: 4.8rem 0;
  background-color: #f1f3f5;
}
.testimonials__wrapper {
  max-width: 100rem;
  height: 20rem;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.testimonials__item {
  position: absolute;
  top: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 2rem;
  padding: 1.5rem;
  transition: transform 1s;
}
.testimonials__img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1/2;
}
.testimonials__img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
}
.testimonials__text-box {
  grid-column: 2/4;
  line-height: 1.6;
}
.testimonials__description {
  font-size: 1.4rem;
}
.testimonials__author {
  margin-top: 1rem;
  font-weight: 500;
  font-size: 1.2rem;
}
.testimonials__job {
  font-size: 1.2rem;
}
.testimonials__button {
  position: absolute;
  top: 50%;
  border: none;
  background-color: transparent;
  color: #fcc419;
  font-size: 2.5rem;
  padding: 1rem;
  z-index: 100;
}
.testimonials__button--left {
  left: 3%;
  transform: translate(-50%, -50%);
}
.testimonials__button--right {
  right: 3%;
  transform: translate(50%, -50%);
}

@media (min-width: 36em) {
  .testimonials__description {
    font-size: 1.6rem;
  }
  .testimonials__img {
    width: 80px;
    height: 80px;
  }
  .testimonials__job, .testimonials__author {
    font-size: 1.4rem;
  }
}
.newsletter {
  background-color: #fff3bf;
}
.newsletter__wrapper {
  padding: 2rem;
}
.newsletter__heading {
  font-size: 2.2rem;
}
.newsletter__description {
  margin-top: 1rem;
  font-size: 1.4rem;
  line-height: 1.6;
}
.newsletter__form {
  margin-top: 2rem;
}
.newsletter__label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1.4rem;
}
.newsletter__input {
  padding: 0.4rem 0.8rem;
  border: none;
  background-color: #f8f9fa;
}
.newsletter__button {
  border: none;
  background-color: #fcc419;
  padding: 0.4rem 0.8rem;
  font-weight: 500;
  color: #333;
}
.newsletter__approvals {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;
  font-size: 1.4rem;
}
.newsletter__private {
  text-decoration: none;
  color: #333;
  border-bottom: 2px solid #fcc419;
}

@media (min-width: 36em) {
  .newsletter__heading {
    font-size: 2.8rem;
  }
  .newsletter__description, .newsletter__label, .newsletter__approvals {
    font-size: 1.6rem;
  }
  .newsletter__input, .newsletter__button {
    padding: 0.6rem 1.2rem;
  }
}
.footer {
  padding: 4.8rem 0;
  background-color: #f8f9fa;
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__socials {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
  list-style: none;
}
.footer__logo {
  display: block;
  margin-bottom: 1rem;
  font-size: 1.4rem;
}
.footer__item {
  font-size: 2rem;
}
.footer__link {
  color: #555;
}
.footer__heading {
  margin-bottom: 1rem;
  font-size: 1.4rem;
  font-weight: 500;
}
.footer__address {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-style: normal;
  font-size: 1.4rem;
}
.footer__phone {
  margin-top: 1rem;
}
.footer__mail, .footer__phone {
  text-decoration: none;
  color: #555;
}

@media (min-width: 36em) {
  .footer__logo, .footer__address, .footer__heading {
    font-size: 1.6rem;
  }
}

/*# sourceMappingURL=style.css.map */
