* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 56.25%;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  background-color: #f8f9fa;
  overflow-x: hidden;
  color: #555;
}

.container {
  max-width: 120rem;
  padding: 0 2rem;
  margin: 0 auto;
}

.logo {
  text-decoration: none;
  color: #555;
  font-size: 1.6rem;
}

.heading-secondary,
.heading-tertiary,
.heading-fourth {
  margin-bottom: 4rem;
  line-height: 1.2;
  letter-spacing: -0.5px;
  font-weight: 700;
  color: #333;
}

.heading-primary {
  font-size: 2.8rem;
}

.heading-secondary {
  font-size: 2.5rem;
}

.heading-tertiary {
  font-size: 2.1rem;
  text-align: center;
}

.heading-fourth {
  margin-bottom: 1rem;
  font-size: 1.8rem;
  font-weight: 700;
}

.subheading {
  display: inline-block;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.4rem;
  color: #f59f00;
}

@media (min-width: 36em) {
  html {
    font-size: 62.5%;
  }
  .heading-primary {
    padding: 0 3rem;
  }
}
@media (min-width: 48em) {
  .container {
    padding: 0 3.2rem;
  }
  .heading-primary {
    padding: 0;
    line-height: 1.2;
  }
  .heading-secondary {
    margin-bottom: 6.8rem;
  }
}
@media (min-width: 62em) {
  .heading-primary {
    font-size: 4.2rem;
  }
  .heading-secondary {
    font-size: 3rem;
  }
  .subheading {
    font-size: 1.6rem;
  }
}
@media (min-width: 75em) {
  .heading-primary {
    font-size: 5.2rem;
  }
  .heading-secondary {
    margin-bottom: 9.8rem;
  }
}
section {
  scroll-margin: 6rem;
}

.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 6rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0.97);
  z-index: 200;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.header {
  position: relative;
  background-color: #f1f3f5;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 62em) {
  .header {
    padding: 2rem 10rem;
  }
}
.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transform: translateX(100%);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  background-color: rgba(255, 255, 255, 0.97);
  z-index: 100;
  backdrop-filter: blur(10px);
  transition: all 0.5s;
}
.navigation__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.navigation__link {
  text-decoration: none;
  font-size: 2.8rem;
  color: #e67700;
}
.navigation__open--js .navigation {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  transform: translateX(0%);
}

.btn-mobile-nav {
  display: block;
  padding: 0.5rem;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1.8rem;
  z-index: 200;
}

.hamburger {
  font-size: 2rem;
  color: #333;
}

@media (min-width: 62em) {
  .navigation {
    position: static;
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0%);
    z-index: 100;
  }
  .navigation__list {
    flex-direction: row;
  }
  .navigation__link {
    font-size: 2rem;
    color: #333;
  }
  .btn-mobile-nav {
    display: none;
    pointer-events: none;
    visibility: hidden;
  }
}
.sticky .hero {
  padding-top: 8rem;
}

.hero {
  padding: 4.8rem 0 4.8rem 0;
  background-color: #f1f3f5;
}
.hero__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4rem;
  padding: 0 1rem;
  text-align: center;
}
.hero__text-box {
  display: flex;
  justify-content: baseline;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}
.hero__description {
  line-height: 1.6;
  font-size: 1.6rem;
}
.hero__button {
  display: inline-block;
  padding: 1rem 2rem;
  text-decoration: none;
  font-size: 1.6rem;
  background-color: #fcc419;
  color: #212529;
}
.hero__image {
  width: 80%;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

@media (min-width: 36em) {
  .hero__image {
    width: 60%;
  }
}
@media (min-width: 48em) {
  .hero__wrapper {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  .hero__text-box {
    justify-content: end;
  }
  .hero__description {
    padding: 0 1rem;
  }
}
@media (min-width: 62em) {
  .hero__text-box {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  .hero__description {
    font-size: 1.8rem;
  }
  .hero__button {
    padding: 1.5rem 3rem;
    font-size: 1.8rem;
  }
}
@media (min-width: 75em) {
  .hero__wrapper {
    justify-content: center;
  }
  .hero__description {
    font-size: 2.2rem;
  }
}
.about-us {
  padding: 4.8rem 0;
}
.about-us__wrapper {
  display: grid;
  grid-template-columns: 1fr;
}
.about-us__text-box {
  margin-bottom: 3rem;
  display: flex;
}
.about-us__description {
  font-size: 1.6rem;
  line-height: 1.6;
}
.about-us__image-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-us__image {
  width: 100%;
  object-fit: cover;
}

@media (min-width: 36em) {
  .about-us__image {
    width: 80%;
  }
}
@media (min-width: 48em) {
  .about-us {
    padding: 6.8rem 0;
  }
  .about-us__wrapper {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    column-gap: 6rem;
  }
  .about-us__image-box {
    grid-column: 1/2;
    grid-row: 1/3;
  }
  .about-us__image {
    width: 100%;
  }
}
@media (min-width: 62em) {
  .about-us__description {
    font-size: 1.8rem;
  }
  .about-us__image {
    width: 90%;
  }
}
.offer {
  padding: 4.8rem 0;
  background-color: #f1f3f5;
}
.offer__wrapper {
  display: flex;
  flex-direction: column;
  gap: 6rem;
}
.offer__card {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
}
.offer__image {
  width: 100%;
}
.offer__text-box {
  padding: 3.2rem;
}
.offer__info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.offer__price {
  margin-bottom: 0.5rem;
  font-size: 2.5rem;
  letter-spacing: 1px;
  color: #fcc419;
}
.offer__time {
  margin-bottom: 2rem;
  font-size: 1.4rem;
}
.offer__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
  font-size: 1.6rem;
}
.offer__specifications {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.8rem;
}
.offer__icon {
  font-size: 2rem;
  color: #fcc419;
}
.offer__details {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
.offer__button {
  padding: 1rem 2rem;
  font-size: 2rem;
  text-decoration: none;
  background-color: #fcc419;
  color: #212529;
}

@media (min-width: 36em) {
  .offer__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 48em) {
  .offer {
    padding: 6.8rem 0;
  }
}
@media (min-width: 75em) {
  .offer {
    padding: 9.8rem 0;
  }
}
.why-we {
  padding: 4.8rem 0;
}
.why-we__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4rem;
}
.why-we__description {
  font-size: 1.6rem;
  line-height: 1.6;
}
.why-we__icon {
  margin-right: 0.5rem;
  font-size: 2rem;
  color: #fcc419;
}

@media (min-width: 36em) {
  .why-we__wrapper {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 6rem;
    justify-items: center;
    justify-content: center;
  }
}
@media (min-width: 48em) {
  .why-we {
    padding: 6.8rem 0;
  }
}
@media (min-width: 75em) {
  .why-we__wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}
.step {
  padding: 4.8rem 0;
  background-color: #f1f3f5;
}
.step__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 3rem;
}
.step__box {
  display: flex;
  flex-direction: column;
}
.step__text-box {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.step__number {
  display: block;
  font-weight: 600;
  font-size: 5.2rem;
  color: #ddd;
}
.step__heading {
  font-size: 2.6rem;
}
.step__description {
  margin-top: 1rem;
  line-height: 1.6;
  font-size: 1.6rem;
}
.step__img {
  width: 100%;
}
.step__text-box:nth-child(4) {
  grid-row: 3;
}

@media (min-width: 48em) {
  .step {
    padding: 6.8rem 0;
  }
  .step__wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 9rem;
  }
  .step__text-box:nth-child(4) {
    grid-column: 2/3;
    grid-row: 2/3;
  }
}
@media (min-width: 62em) {
  .step__wrapper {
    align-items: center;
  }
}
@media (min-width: 75em) {
  .step {
    padding: 9.8rem 0;
  }
  .step__number {
    font-size: 8.2rem;
  }
  .step__heading {
    font-size: 3.6rem;
  }
  .step__description {
    font-size: 1.8rem;
  }
}
.gift {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../src/img/voucher.webp");
  height: 60vh;
  background-size: cover;
  background-position: center;
  color: #dee2e6;
}
.gift__heading {
  margin-bottom: 2rem;
  font-size: 2.4rem;
}
.gift__description {
  font-size: 1.6rem;
  line-height: 1.4;
}
.gift__box {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gift__button {
  padding: 1rem 2rem;
  text-decoration: none;
  font-size: 2rem;
  background-color: #fcc419;
  color: #212529;
}

@media (min-width: 36em) {
  .gift__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .gift__heading {
    font-size: 2.8rem;
  }
  .gift__description {
    width: 70%;
  }
}
@media (min-width: 62em) {
  .gift__heading {
    font-size: 3.2rem;
  }
  .gift__description {
    width: 50%;
  }
}
@media (min-width: 75em) {
  .gift__heading {
    font-size: 4.2rem;
  }
  .gift__description {
    width: 50%;
    font-size: 2rem;
  }
}
.accordion {
  padding: 4.8rem 0;
}
.accordion__wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.accordion__item {
  padding: 1rem;
  background-color: #f1f3f5;
}
.accordion__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
}
.accordion__heading {
  font-weight: 500;
  color: #333;
  font-size: 1.7rem;
}
.accordion__number {
  font-weight: 500;
  font-size: 1.8rem;
  color: #cbcaca;
}
.accordion__icon {
  color: #fcc419;
  font-size: 1.8rem;
}
.accordion__description {
  max-height: 0;
  line-height: 1.6;
  font-size: 1.4rem;
  overflow: hidden;
  transition: all 0.4s;
}
.accordion__rotate--js {
  transform: rotate(180deg);
}
.accordion__open--js {
  padding-top: 1.5rem;
  max-height: 10rem;
}
.accordion__border--js {
  box-shadow: inset 0px 5px 2px -3px #fcc419;
}

@media (min-width: 36em) {
  .accordion__heading {
    font-size: 2.2rem;
  }
}
@media (min-width: 48em) {
  .accordion {
    padding: 6.8rem 0;
  }
}
@media (min-width: 62em) {
  .accordion__description {
    font-size: 1.6rem;
  }
}
@media (min-width: 75em) {
  .accordion {
    padding: 9.8rem 0;
  }
}
.testimonials {
  padding: 4.8rem 0;
  background-color: #f1f3f5;
}
.testimonials__wrapper {
  max-width: 90rem;
  height: 20rem;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.testimonials__item {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 1.5rem;
  transition: transform 1s;
  background-color: #fff;
  border: 1px solid #dee2e6;
}
.testimonials__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}
.testimonials__img-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.testimonials__img {
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  border-radius: 50%;
}
.testimonials__text-box {
  line-height: 1.6;
}
.testimonials__description {
  font-size: 1.4rem;
}
.testimonials__author {
  margin-top: 1rem;
  font-weight: 500;
  font-size: 1.2rem;
}
.testimonials__job {
  font-size: 1.2rem;
}
.testimonials__button {
  position: absolute;
  top: 50%;
  border: none;
  background-color: transparent;
  color: #fcc419;
  font-size: 2.5rem;
  padding: 1rem;
  z-index: 10;
}
.testimonials__button--left {
  left: 3%;
  transform: translate(-50%, -50%);
}
.testimonials__button--right {
  right: 3%;
  transform: translate(50%, -50%);
}

@media (min-width: 36em) {
  .testimonials__description {
    font-size: 1.6rem;
  }
  .testimonials__job, .testimonials__author {
    font-size: 1.4rem;
  }
  .testimonials__item {
    padding: 2.5rem;
  }
}
@media (min-width: 48em) {
  .testimonials {
    padding: 6.8rem 0;
  }
  .testimonials__item {
    padding: 3.2rem;
  }
}
@media (min-width: 62em) {
  .testimonials {
    padding: 6.8rem 0;
  }
  .testimonials__item {
    padding: 4.2rem;
  }
}
@media (min-width: 75em) {
  .testimonials {
    padding: 9.8rem 0;
  }
}
.newsletter {
  padding: 4.8rem 0;
  background-color: #fff3bf;
}
.newsletter__wrapper {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.newsletter__heading {
  text-transform: uppercase;
  font-size: 2.2rem;
}
.newsletter__description {
  margin-top: 1rem;
  font-size: 1.4rem;
  line-height: 1.6;
}
.newsletter__form {
  margin-top: 2rem;
  font-size: 0;
}
.newsletter__input {
  padding: 0.6rem 1.2rem;
  border: none;
  background-color: #f8f9fa;
}
.newsletter__button {
  border: none;
  background-color: #fcc419;
  padding: 0.6rem 1.2rem;
  font-weight: 500;
  color: #212529;
}
.newsletter__approvals {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 2rem;
  font-size: 1.4rem;
}
.newsletter__private {
  text-decoration: none;
  color: #333;
  border-bottom: 2px solid #fcc419;
}

@media (min-width: 36em) {
  .newsletter__heading {
    font-size: 2.8rem;
  }
  .newsletter__description, .newsletter__label, .newsletter__approvals {
    font-size: 1.6rem;
  }
  .newsletter__input, .newsletter__button {
    padding: 1rem 2rem;
    font-size: 1.6rem;
  }
}
@media (min-width: 48em) {
  .newsletter {
    padding: 6.8rem 0;
  }
  .newsletter__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
  }
  .newsletter__form {
    justify-self: end;
  }
  .newsletter__input, .newsletter__button {
    font-size: 1.6rem;
  }
}
@media (min-width: 62em) {
  .newsletter__heading {
    font-size: 2.8rem;
  }
  .newsletter__description {
    font-size: 1.6rem;
  }
  .newsletter__input, .newsletter__button {
    padding: 1.5rem 3rem;
    font-size: 1.6rem;
  }
}
.footer {
  padding: 4.8rem 0;
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__socials {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
  list-style: none;
}
.footer__logo {
  display: block;
  margin-bottom: 1rem;
  font-size: 1.4rem;
}
.footer__item {
  font-size: 2rem;
}
.footer__link {
  color: #555;
}
.footer__heading {
  margin-bottom: 1rem;
  font-size: 1.4rem;
  font-weight: 500;
}
.footer__address {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-style: normal;
  font-size: 1.4rem;
}
.footer__phone {
  margin-top: 1rem;
}
.footer__mail, .footer__phone {
  text-decoration: none;
  color: #555;
}

@media (min-width: 36em) {
  .footer__logo, .footer__address, .footer__heading {
    font-size: 1.6rem;
  }
}

/*# sourceMappingURL=style.css.map */
