* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  background-color: #f8f9fa;
  overflow-x: hidden;
  color: #555;
}

.container {
  max-width: 120rem;
  padding: 0 2rem;
  margin: 0 auto;
}

.heading-primary,
.heading-secondary,
.heading-tertiary,
.heading-fourth {
  margin-bottom: 2rem;
  line-height: 1.2;
  letter-spacing: -0.5px;
  font-weight: 700;
  color: #333;
}

.heading-primary {
  font-size: 2.2rem;
}

.heading-secondary {
  font-size: 2.2rem;
}

.heading-tertiary {
  font-size: 1.8rem;
  text-align: center;
}

.heading-fourth {
  margin-bottom: 1rem;
  font-size: 1.6rem;
  font-weight: 700;
}

.subheading {
  display: inline-block;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  color: #f59f00;
  font-weight: 500;
}

.header {
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transform: translateX(100%);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  background-color: rgba(255, 255, 255, 0.97);
  transition: 0.5s transform;
}
.navigation__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.navigation__link {
  text-decoration: none;
  font-size: 2.8rem;
  color: #e67700;
}
.navigation__open--js {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  transform: translateX(0%);
}

.btn-mobile-nav {
  display: block;
  border: none;
  background: none;
  cursor: pointer;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.hero-section {
  padding: 4.8rem 0 4.8rem 0;
}

.hero {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 3rem;
  padding: 0 1rem;
  text-align: center;
}
.hero__description {
  line-height: 1.6;
  font-size: 1.6rem;
}
.hero__button {
  display: inline-block;
  margin-top: 2rem;
  padding: 1rem 2rem;
  border-radius: 1rem;
  text-decoration: none;
  font-size: 1.5rem;
  background-color: #f59f00;
  color: #fff;
}
.hero__image {
  width: 80%;
}

.about-us-section {
  padding: 4.8rem 0;
}

.about-us {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 3rem;
}
.about-us__text-box {
  display: flex;
}
.about-us__description {
  font-size: 1.6rem;
  line-height: 1.6;
}
.about-us__image-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-us__image {
  width: 100%;
}
.about-us__image-box--mobile {
  order: 2;
}
.about-us__text-box--mobile {
  order: 1;
}

.section-popular {
  padding: 4.8rem 0;
}

.popular {
  display: flex;
  flex-direction: column;
  gap: 6rem;
}
.popular__card {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
}
.popular__image {
  width: 100%;
}
.popular__text-box {
  padding: 3.2rem;
}
.popular__info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.popular__price {
  margin-bottom: 0.5rem;
  font-size: 2.2rem;
  letter-spacing: 1px;
  color: #fcc419;
}
.popular__time {
  margin-bottom: 2rem;
  font-size: 1.2rem;
}
.popular__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
  font-size: 1.6rem;
}
.popular__specifications {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.popular__icon {
  font-size: 2rem;
  color: #fcc419;
}
.popular__details {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
.popular__button {
  padding: 1rem 2rem;
  font-size: 2rem;
  text-decoration: none;
  background-color: #fcc419;
  color: #fff;
}

.why-we-section {
  padding: 4.8rem 0;
  background-color: #f1f3f5;
}

.why-we {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}
.why-we__description {
  font-size: 1.4rem;
  line-height: 1.6;
}
.why-we__icon {
  margin-right: 0.5rem;
  font-size: 1.8rem;
  color: #fcc419;
}

.step-section {
  padding: 4.8rem 0;
}

.step {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
}
.step__text-box {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.step__number {
  display: block;
  font-weight: 600;
  font-size: 5.2rem;
  color: #ddd;
}
.step__heading {
  font-size: 2.6rem;
}
.step__description {
  line-height: 1.6;
  font-size: 1.6rem;
}
.step__img {
  width: 100%;
}
.step__text-box:nth-child(4) {
  grid-row: 3;
}

.gift {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../src/img/voucher.webp");
  height: 60vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #dee2e6;
}
.gift__heading {
  margin-bottom: 2rem;
  font-size: 2.4rem;
}
.gift__description {
  font-size: 1.6rem;
  line-height: 1.4;
}
.gift__box {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gift__button {
  padding: 1rem 2rem;
  text-decoration: none;
  font-size: 2rem;
  background-color: #fcc419;
  color: #fff;
}

.accordion {
  padding: 4.8rem 0;
}
.accordion__wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.accordion__item {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  padding: 1rem;
}
.accordion__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
}
.accordion__heading {
  font-weight: 500;
  color: #333;
  font-size: 1.7rem;
}
.accordion__number {
  font-weight: 500;
  font-size: 1.8rem;
  color: #cbcaca;
}
.accordion__icon {
  color: #fcc419;
  font-size: 1.8rem;
}
.accordion__description {
  max-height: 0;
  line-height: 1.6;
  font-size: 1.4rem;
  overflow: hidden;
  transition: all 0.4s;
}
.accordion__rotate--js {
  transform: rotate(180deg);
}
.accordion__open--js {
  max-height: 10rem;
  padding-top: 1.5rem;
}
.accordion__border--js {
  box-shadow: inset 0px 5px 2px -3px #fcc419;
}

/*# sourceMappingURL=style.css.map */
