.section-popular {
	padding: $padding-section-mobile;
}

.popular {
	display: flex;
	flex-direction: column;
	gap: 6rem;
	&__card {
		box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
	}
	&__image {
		width: 100%;
	}
	&__text-box {
		padding: 3.2rem;
	}
	&__info {
		@include flexCenter;
		flex-direction: column;
	}
	&__price {
		margin-bottom: 0.5rem;
		font-size: 2.2rem;
		letter-spacing: 1px;
		color: $medium-yellow;
	}
	&__time {
		margin-bottom: 2rem;
		font-size: 1.2rem;
	}
	&__list {
		display: flex;
		flex-direction: column;
		gap: $gap-medium;
		list-style: none;
		font-size: $font-size-medium;
	}
	&__specifications {
		display: flex;
		align-items: center;
		gap: $gap-medium;
	}
	&__icon {
		font-size: 2rem;
		color: $medium-yellow;
	}
	&__details {
		@include flexCenter;
		margin-top: 3rem;
	}
	&__button {
		padding: 1rem 2rem;
		font-size: 2rem;
		text-decoration: none;
		background-color: $medium-yellow;
		color: #fff;
	}
}
