$dark-yellow: #e67700;
$medium-yellow: #fcc419;
$medium-gray: #dee2e6;
$background-color-site: #f8f9fa;
$background-color-hero: #fff3bf;
$background-color-light: #f1f3f5;
$box-shadow-light: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
$color-orange: #f59f00;

$paragraph-line-height: 1.6;
$paragraph-font-size-small: 1.6rem;
