.why-we-section {
	padding: 4.8rem 0;
	background-color: $background-color-light;
}

.why-we {
	display: grid;
	grid-template-columns: 1fr;
	gap: 2rem;
	&__description {
		font-size: 1.4rem;
		line-height: $paragraph-line-height;
	}
	&__icon {
		margin-right: 0.5rem;
		font-size: 1.8rem;
		color: $medium-yellow;
	}
}
