* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 56.25%;
}
body {
	font-family: 'Rubik', sans-serif;
	line-height: 1;
	font-weight: 400;
	background-color: $background-color-site;
	overflow-x: hidden;
	color: #555;
}

.container {
	max-width: 120rem;
	padding: 0 2rem;
	margin: 0 auto;
}

.logo {
	text-decoration: none;
	color: #555;
	font-size: $font-size-medium;
}

.heading-secondary,
.heading-tertiary,
.heading-fourth {
	margin-bottom: 4rem;
	line-height: 1.2;
	letter-spacing: -0.5px;
	font-weight: 700;
	color: #333;
}

.heading-primary {
	font-size: 2.6rem;
}

.heading-secondary {
	font-size: 2.5rem;
}

.heading-tertiary {
	font-size: 2.1rem;
	text-align: center;
}

.heading-fourth {
	margin-bottom: 1rem;
	font-size: $font-size-large;
	font-weight: 700;
}

.subheading {
	display: inline-block;
	margin-bottom: 0.5rem;
	text-transform: uppercase;
	font-weight: 500;
	font-size: $font-size-small;
	color: #f59f00;
}

section {
	scroll-margin: 6rem;
	transition: transform 0.5s, opacity 0.5s;
}

.error-form {
	padding: 1rem;
	font-size: $font-size-medium;
	background-color: #ff6b6b;
	color: #000;
}

.section--hidden {
	opacity: 0;
	transform: translateY(8rem);
}

@media (min-width: $large-mobile) {
	html {
		font-size: 62.5%;
	}
	.heading-primary {
		padding: 0 3rem;
	}
}

@media (min-width: $tablet) {
	.container {
		padding: 0 3.2rem;
	}
	.heading-primary {
		padding: 0;
		line-height: 1.2;
	}
	.heading-secondary {
		margin-bottom: 6.8rem;
	}
	.heading-secondary--special {
		margin-bottom: 3.8rem;
	}
}

@media (min-width: $small-desktop) {
	.heading-primary {
		font-size: 3.3rem;
	}
	.heading-secondary {
		font-size: 3rem;
	}
	.subheading {
		font-size: $font-size-medium;
	}
}

@media (min-width: $desktop) {
	.heading-primary {
		font-size: 4.2rem;
	}
	.heading-secondary {
		margin-bottom: 9.8rem;
	}
	.heading-secondary--special {
		margin-bottom: 3.8rem;
	}
}

@media (min-width: $large-desktop) {
	.heading-primary {
		font-size: 5rem;
	}
}
