@mixin flexCenter {
	display: flex;
	justify-content: center;
	align-items: center;
}

// padding: 1rem 2rem;

@mixin button {
	display: block;
	border: none;
	text-decoration: none;
	font-size: $font-size-small;
	background-color: $medium-yellow;
	color: $button-color;
	cursor: pointer;
	transition: background-color 0.2s;
}

@mixin buttonHover {
	background-color: $hover-yellow;
}
