$background-color-site: #f8f9fa;
$background-color-hero: #fff3bf;
$background-color-light: #f1f3f5;

$dark-yellow: #e67700;
$medium-yellow: #fcc419;
$hover-yellow: #ffd43b;
$medium-gray: #dee2e6;
$color-orange: #f59f00;

$button-color: #212529;
$button-border-radius: 1rem;

$box-shadow-light: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

$line-height-small: 1.4;
$line-height-medium: 1.6;

$font-size-small: 1.6rem;
$font-size-medium: 1.8rem;
$font-size-large-xl: 2rem;
$font-size-large-xxl: 2.2rem;

$padding-section-mobile: 4.8rem 0;
$padding-section-tablet: 6.8rem 0;
$padding-section-dekstop: 9.8rem 0;

$margin-small: 0.5rem;
$margin-medium: 1rem;
$margin-large: 2rem;
$margin-large-xl: 3rem;

$gap-small: 0.5rem;
$gap-medium: 1rem;
$gap-large: 2rem;

$large-mobile: 36em;
$tablet: 48em;
$small-desktop: 62em;
$desktop: 75em;
$large-desktop: 87em;
