.about-us {
	padding: $padding-section-mobile;
	&__wrapper {
		display: grid;
		grid-template-columns: 1fr;
		row-gap: 3rem;
	}
	&__text-box {
		display: flex;
	}
	&__description {
		font-size: $font-size-medium;
		line-height: $line-height-medium;
	}
	&__image-box {
		@include flexCenter;
	}
	&__image {
		width: 100%;
	}
	&__image-box--mobile {
		order: 2;
	}
	&__text-box--mobile {
		order: 1;
	}
}

@media (min-width: 36em) {
	.about-us {
		&__image {
			width: 90%;
		}
	}
}

@media (min-width: 48em) {
	.about-us {
		&__wrapper {
			grid-template-columns: repeat(2, 1fr);
			justify-items: center;
			align-items: center;
			column-gap: 6rem;
		}
	}
}

@media (min-width: 62em) {
	.about-us {
		&__description {
			font-size: $font-size-large;
		}
		&__image {
			width: 90%;
		}
	}
}
