.about-us {
	padding: $padding-section-mobile;

	&__wrapper {
		display: grid;
		grid-template-columns: 1fr;
	}
	&__text-box {
		margin-bottom: 3rem;
		display: flex;
	}
	&__description {
		font-size: $font-size-medium;
		line-height: $line-height-medium;
	}
	&__image-box {
		@include flexCenter;
	}
	&__image {
		width: 100%;
		object-fit: cover;
	}
}

@media (min-width: $large-mobile) {
	.about-us {
		&__image {
			width: 80%;
		}
	}
}

@media (min-width: $tablet) {
	.about-us {
		padding: $padding-section-tablet;
		&__wrapper {
			grid-template-columns: repeat(2, 1fr);
			justify-items: center;
			align-items: center;
			column-gap: 6rem;
		}
		&__image-box {
			grid-column: 1 / 2;
			grid-row: 1 / 3;
		}
		&__image {
			width: 100%;
		}
	}
}

@media (min-width: $small-desktop) {
	.about-us {
		&__description {
			font-size: $font-size-large;
		}
		&__image {
			width: 90%;
		}
	}
}
