.accordion {
	padding: $padding-section-mobile;
	&__wrapper {
		display: flex;
		flex-direction: column;
		gap: $gap-large;
	}
	&__item {
		padding: 1rem;
		background-color: #f1f3f5;
		cursor: pointer;
	}
	&__box {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: $font-size-small;
	}
	&__heading {
		font-weight: 500;
		color: #333;
		font-size: 1.7rem;
	}
	&__number {
		font-weight: 500;
		font-size: $font-size-medium;
		color: #cbcaca;
	}
	&__icon {
		color: $medium-yellow;
		font-size: $font-size-medium;
	}
	&__description {
		max-height: 0;
		line-height: $line-height-medium;
		font-size: $font-size-small;
		overflow: hidden;
		transition: all 0.4s;
	}
	&__rotate--js {
		transform: rotate(180deg);
	}
	&__open--js {
		padding-top: 1.5rem;
		max-height: 30rem;
	}
	&__border--js {
		box-shadow: inset 0px 5px 2px -3px $medium-yellow;
	}
}

@media (min-width: $large-mobile) {
	.accordion {
		&__heading {
			font-size: $font-size-large-xxl;
		}
	}
}

@media (min-width: $tablet) {
	.accordion {
		padding: $padding-section-tablet;
	}
}

@media (min-width: $small-desktop) {
	.accordion {
		&__description {
			font-size: $font-size-medium;
		}
	}
}

@media (min-width: $desktop) {
	.accordion {
		padding: $padding-section-dekstop;
	}
}
