.footer {
	padding: $padding-section-mobile;
	background-color: $background-color-site;
	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__socials {
		display: flex;
		gap: $gap-large;
		margin-top: $margin-medium;
		list-style: none;
	}
	&__logo {
		display: block;
		margin-bottom: $margin-medium;
		font-size: $font-size-small;
	}
	&__item {
		font-size: $font-size-large-xl;
	}
	&__link {
		color: #555;
	}
	&__heading {
		margin-bottom: $margin-medium;
		font-size: $font-size-small;
		font-weight: 500;
	}
	&__address {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		font-style: normal;
		font-size: $font-size-small;
	}
	&__phone {
		margin-top: $margin-medium;
	}
	&__mail,
	&__phone {
		text-decoration: none;
		color: #555;
	}
}

@media (min-width: 36em) {
	.footer {
		&__logo,
		&__address,
		&__heading {
			font-size: $font-size-medium;
		}
	}
}
