.gift {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
		url('../src/img/voucher.webp');
	height: 60vh;
	background-size: cover;
	background-position: center;
	color: $medium-gray;
	&__heading {
		margin-bottom: $margin-large;
		font-size: 2.4rem;
	}
	&__description {
		font-size: $font-size-medium;
		line-height: $line-height-small;
	}
	&__box {
		margin-top: 3rem;
		@include flexCenter;
	}
	&__button {
		padding: 1rem 2rem;
		text-decoration: none;
		font-size: 2rem;
		background-color: $medium-yellow;
		color: #fff;
	}
}

@media (min-width: 36em) {
	.gift {
		&__wrapper {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
		&__heading {
			font-size: 2.8rem;
		}
		&__description {
			width: 70%;
		}
	}
}
