.sticky .hero {
	padding-top: 8rem;
}
.hero {
	padding: 4.8rem 0 4.8rem 0;
	background-color: $background-color-light;
	&__wrapper {
		display: grid;
		grid-template-columns: 1fr;
		gap: 4rem;
		padding: 0 1rem;
		text-align: center;
	}
	&__text-box {
		display: flex;
		justify-content: baseline;
		align-items: center;
		flex-direction: column;
		gap: 3rem;
	}
	&__description {
		line-height: $line-height-medium;
		font-size: $font-size-medium;
	}
	&__button {
		display: inline-block;
		padding: 1rem 2rem;
		text-decoration: none;
		font-size: $font-size-medium;
		background-color: $medium-yellow;
		color: $button-color;
	}
	&__image {
		width: 80%;
		clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
	}
}

@media (min-width: $large-mobile) {
	.hero {
		&__image {
			width: 60%;
		}
	}
}

@media (min-width: $tablet) {
	.hero {
		&__wrapper {
			grid-template-columns: repeat(2, 1fr);
			align-items: center;
		}
		&__text-box {
			justify-content: end;
		}
		&__description {
			padding: 0 1rem;
		}
		&__image {
			width: 100%;
		}
	}
}

@media (min-width: $small-desktop) {
	.hero {
		&__text-box {
			display: flex;
			flex-direction: column;
			gap: 3rem;
		}
		&__description {
			font-size: $font-size-large;
		}
		&__button {
			padding: 1.5rem 3rem;
			font-size: $font-size-large;
		}
		&__image {
			width: 80%;
		}
	}
}

@media (min-width: $desktop) {
	.hero {
		&__wrapper {
			justify-content: center;
		}
		&__description {
			font-size: $font-size-large-xxl;
		}
		&__image {
			width: 70%;
		}
		&__text-box {
			gap: 5rem;
		}
	}
}
