.navigation {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	transform: translateX(100%);
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	pointer-events: none;
	visibility: hidden;
	background-color: rgba(255, 255, 255, 0.97);
	transition: 0.5s transform;
	z-index: 100;
	&__list {
		list-style: none;
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}
	&__link {
		text-decoration: none;
		font-size: 2.8rem;
		color: $dark-yellow;
	}
	&__open--js {
		opacity: 1;
		pointer-events: auto;
		visibility: visible;
		transform: translateX(0%);
	}
}

.btn-mobile-nav {
	display: block;
	padding: 0.5rem;
	border: none;
	background: none;
	cursor: pointer;
	font-size: $font-size-large;
	z-index: 200;
}

.hamburger {
	font-size: 2rem;
	color: #333;
}

@media (min-width: 62em) {
	.navigation {
		position: static;
		height: auto;
		width: auto;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: transparent;
		opacity: 1;
		pointer-events: auto;
		visibility: visible;
		transform: translateX(0%);
		z-index: 100;
		&__list {
			flex-direction: row;
		}
		&__link {
			font-size: $font-size-large-xl;
			color: #333;
		}
	}

	.btn-mobile-nav {
		display: none;
		pointer-events: none;
		visibility: hidden;
	}
}
