.newsletter {
	background-color: #fff3bf;
	&__wrapper {
		padding: 2rem;
	}
	&__heading {
		font-size: 2.2rem;
	}
	&__description {
		margin-top: 1rem;
		font-size: $font-size-small;
		line-height: $line-height-medium;
	}
	&__form {
		margin-top: $margin-large;
	}
	&__label {
		display: block;
		margin-bottom: $margin-small;
		font-size: $font-size-small;
	}
	&__input {
		padding: 0.4rem 0.8rem;
		border: none;
		background-color: #f8f9fa;
	}
	&__button {
		border: none;
		background-color: $medium-yellow;
		padding: 0.4rem 0.8rem;
		font-weight: 500;
		color: #333;
	}
	&__approvals {
		display: flex;
		align-items: center;
		gap: $gap-small;
		margin-top: 1rem;
		font-size: $font-size-small;
	}
	&__private {
		text-decoration: none;
		color: #333;
		border-bottom: 2px solid $medium-yellow;
	}
}

@media (min-width: 36em) {
	.newsletter {
		&__heading {
			font-size: 2.8rem;
		}
		&__description,
		&__label,
		&__approvals {
			font-size: $font-size-medium;
		}
		&__input,
		&__button {
			padding: 0.6rem 1.2rem;
		}
	}
}
