.testimonials {
	padding: $padding-section-mobile;
	background-color: $background-color-light;
	&__wrapper {
		max-width: 100rem;
		height: 20rem;
		margin: 0 auto;
		position: relative;
		overflow: hidden;
	}
	&__item {
		position: absolute;
		top: 0;
		width: 100%;
		display: grid;
		grid-template-columns: 1fr 2fr;
		column-gap: 2rem;
		padding: 1.5rem;
		transition: transform 1s;
	}
	&__img-box {
		@include flexCenter;
		grid-column: 1 / 2;
	}
	&__img {
		width: 60px;
		height: 60px;
		object-fit: cover;
		border-radius: 50%;
	}
	&__text-box {
		grid-column: 2 / 4;
		line-height: $line-height-medium;
	}
	&__description {
		font-size: $font-size-small;
	}
	&__author {
		margin-top: 1rem;
		font-weight: 500;
		font-size: 1.2rem;
	}
	&__job {
		font-size: 1.2rem;
	}
	&__button {
		position: absolute;
		top: 50%;
		border: none;
		background-color: transparent;
		color: $medium-yellow;
		font-size: 2.5rem;
		padding: 1rem;
		z-index: 100;
	}
	&__button--left {
		left: 3%;
		transform: translate(-50%, -50%);
	}
	&__button--right {
		right: 3%;
		transform: translate(50%, -50%);
	}
}

@media (min-width: 36em) {
	.testimonials {
		&__description {
			font-size: $font-size-medium;
		}
		&__img {
			width: 80px;
			height: 80px;
		}
		&__job,
		&__author {
			font-size: $font-size-small;
		}
	}
}
