.testimonials {
	padding: $padding-section-mobile;
	background-color: $background-color-light;
	&__wrapper {
		max-width: 90rem;
		height: 20rem;
		margin: 0 auto;
		position: relative;
		overflow: hidden;
	}
	&__item {
		position: absolute;
		top: 0;
		width: 100%;
		padding: 1.5rem;
		transition: transform 1s;
		background-color: #fff;
		border: 1px solid $medium-gray;
	}
	&__footer {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 1rem;
		margin-top: $margin-large;
	}
	&__img-box {
		@include flexCenter;
	}
	&__img {
		width: 4rem;
		height: 4rem;
		object-fit: cover;
		border-radius: 50%;
	}
	&__text-box {
		line-height: $line-height-medium;
	}
	&__description {
		font-size: $font-size-small;
	}
	&__author {
		margin-top: 1rem;
		font-weight: 500;
		font-size: 1.2rem;
	}
	&__job {
		font-size: 1.2rem;
	}
	&__button {
		position: absolute;
		top: 50%;
		border: none;
		background-color: transparent;
		color: $medium-yellow;
		font-size: 2.5rem;
		padding: 1rem;
		z-index: 10;
	}
	&__button--left {
		left: 3%;
		transform: translate(-50%, -50%);
	}
	&__button--right {
		right: 3%;
		transform: translate(50%, -50%);
	}
}

@media (min-width: 36em) {
	.testimonials {
		&__description {
			font-size: $font-size-medium;
		}
		&__job,
		&__author {
			font-size: $font-size-small;
		}
		&__item {
			padding: 2.5rem;
		}
	}
}

@media (min-width: 48em) {
	.testimonials {
		padding: $padding-section-tablet;
		&__item {
			padding: 3.2rem;
		}
	}
}

@media (min-width: 62em) {
	.testimonials {
		padding: $padding-section-tablet;
		&__item {
			padding: 4.2rem;
		}
	}
}

@media (min-width: 75em) {
	.testimonials {
		padding: $padding-section-dekstop;
	}
}
