.why-we {
	padding: $padding-section-mobile;
	&__wrapper {
		display: grid;
		grid-template-columns: 1fr;
		gap: 4rem;
	}
	&__description {
		font-size: $font-size-medium;
		line-height: $line-height-medium;
	}
	&__icon {
		margin-right: $margin-small;
		font-size: 2rem;
		color: $medium-yellow;
	}
}

@media (min-width: 36em) {
	.why-we {
		&__wrapper {
			grid-template-columns: repeat(2, 1fr);
			row-gap: 6rem;
			justify-items: center;
			justify-content: center;
		}
	}
}

@media (min-width: 48em) {
	.why-we {
		padding: $padding-section-tablet;
	}
}

@media (min-width: 75em) {
	.why-we {
		&__wrapper {
			grid-template-columns: repeat(4, 1fr);
		}
	}
}
