.why-we {
	padding: $padding-section-mobile;
	background-color: $background-color-light;
	&__wrapper {
		display: grid;
		grid-template-columns: 1fr;
		gap: 4rem;
	}
	&__description {
		font-size: $font-size-medium;
		line-height: $line-height-medium;
	}
	&__icon {
		margin-right: $margin-small;
		font-size: 2rem;
		color: $medium-yellow;
	}
}
